:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --main-text-color: #212121;
  --secondary-text-color: #000000;
  --link-color: #757575;
  --white-color: #ffffff;
}

body {
  font-family: var(--main-font);
  margin: 0px;
}

/*======SPECIFICATIONS======*/

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

img {
  display: block;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: auto;
  box-sizing: border-box;
}

.section {
  padding: 94px 0px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*======END SPECIFICATIONS======*/

/*======HEADER======*/
.header {
  border-bottom: 1px solid #ececec;
}

.header .container {
  display: flex;
  align-items: center;
}

.header .logo {
  margin-right: 93px;
}

.navigation {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
}
.nav-list-item:not(:last-child) {
  margin-right: 50px;
}

.address {
  display: flex;
}

.header .address {
  margin-left: auto;
}
.header-mail {
  padding-right: 50px;
}

.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
}

.nav-list-link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143x;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-mail,
.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143x;
  letter-spacing: 0.02em;
  color: var(--link-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-list {
  color: var(--main-text-color);
  display: flex;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-list .nav-list-link.current::after{
  opacity: 1;
}
.nav-list .nav-list-link::after{
  position: absolute;
  bottom: 0;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  opacity: 0;

}


.address {
  color: var(--link-color);
  font-style: normal;
  display: flex;
}

.nav-list-link:hover,
.nav-list-link:focus,
.header-mail:hover,
.header-mail:focus,
.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
}

.header-mail:hover .header-icon,
.header-mail:focus .header-icon,
.header-tel:hover .header-icon,
.header-tel:focus .header-icon {
   fill: currentColor;
}
.header-mail, .header-tel {
  display: inline-flex;
  align-items: center;
  fill: #757575;
  }

.address {
display: inline-flex;
align-items: baseline;
}

.header-icon {
width: 16px;
height: 19px;
fill: #757575;
align-items: center;
margin-right: 10px;
margin-left: 30px;
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.header-icon:hover {
  fill: var(--accent-color);
}
 

.portfolio-button:hover,
.portfolio-button:focus {
  background-color: #2196f3;
  color: var(--white-color);
}

/*======END HEADER======*/

/*======HERO======*/

.hero {
  background-color: #2f303a;
  background-position: center;
  text-align: center;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
    rgba(47, 48, 58, 0.4), 
    rgba(47, 48, 58, 0.4)), 
    url("../images/hero-img/hero-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 30px;

}

.hero-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.hero-button {
font-weight: 700;
  font-size: 16px;
  line-height: 1.85;
  display: block;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  border: 1px solid #2196F3;
  min-width: 200px;
  height: 50px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 32px;
  margin: 0 auto;
}
/*======END HERO======*/

/*======FEATURES======*/

.features {
  padding-top: 94px;
  /*padding-bottom: 94px;*/
}

.features-list {
  display: flex;
}

.features-list-item:not(:last-child) {
  margin-right: 30px;
}

.features-definition {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-text-color);
  margin-bottom: 10px;
}

.features-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
}
/*======END FEATURES======*/

/*======ABOUT======*/
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-bottom: 50px;
}
.about-list {
  display: flex;
}

.about-list .about-list-item{
  position: relative;
  width: calc((100% - 30px * 2) / 3);
  margin-right: 30px;

}

.about-list-item:not(:last-child) {
  margin-right: 30px;
}

.features-container {
  display: flex;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #F5F4FA;
  padding: 25px 100px;
  margin-bottom: 30px;
 }
 .features-icon {
  width: 70px;
  height: 70px;
 }

 .about-box {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding-top: 27px;
  background-color: rgba(47, 48, 58, 0.8);
 }

 .about-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.03em;
 
  color: var(--white-color);
 }


/*======END ABOUT======*/

/*======OUR TEAM======*/
.team-list {
  display: flex;
}
.team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}
.social-list {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 16px 32px 30px 32px;

}

.social-list-item:not(:last-child){
  padding-right: 10px;
}
.social-list-icon {
  fill: #AFB1B8;
  width: 20px;
  height: 20px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
  
}
.social-list-link:hover,
.social-list-link:focus {
  background-color: #2196F3;;
}
.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
fill: var(--white-color);
}

.team-list-item:not(:last-child) {
  margin-right: 30px;
}
.team-list-wrapper {
  padding: 30px 0px;
}
.team-list-item {
  width: 270px;
  height: 428px;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-list-item:hover,
.team-list-item:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);}

.team-list-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--main-text-color);
  margin-bottom: 10px;
}

.team-list-undertitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--link-color);

}
/*======END OUR TEAM======*/


/*======REGULAR CUSTOMERS======*/

.regular-customers {
  background-color: #F5F4FA;
  padding-top: 94px;
  padding-bottom: 94px;
}
 .customers-title {
   font-family: var(--main-font);
   font-weight: 700;
   font-size: 36px;
   line-height: 1.167;
   text-align: center;
   letter-spacing: 0.03em;
   color: var(--main-text-color);
   margin-bottom: 50px;
}
.regular-customers {
  background-color: var(--white-color);
}
.customers {
  display: flex;
  justify-content: space-between;
}
.customers-list-icon {
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
.customers-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid #AFB1B8;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: var(--white-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-list-link:hover,
.customers-list-link:focus {
border-color: #2196F3;
}
.customers-list-link:hover .customers-list-icon,
.customers-list-link:focus .customers-list-icon {
fill: #2196F3;
}
/*====== END REGULAR CUSTOMERS======*/


/*======FOOTER======*/

.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
}

.footer-logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #2196F3;
}

/*.footer-address-list-item {
  flex-direction: column;
  display: flex;
}*/

.footer-location {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-top: 20px;
}

.footer-mail {
  margin-top: 9px;
  margin-bottom: 9px;
}

.footer-mail,
.footer-tel {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-address-list {
  margin-right: 70px;
  margin-top: 20px;
}
.footer-address-list-item:not(last-child) {
  margin-bottom: 9px;
}
.connect {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1,143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.footer-container-address {
  display: flex;
  align-items: baseline;
}

.footer-logo-address {
  flex-direction: column;
}
.address {
  display: flex;
  align-items: baseline;
}
.footer-container-connect {
  flex-direction: column;
  align-items: center;
}
.footer-social-list {
    display: flex;
    justify-content: space-between;
    

  }
  
.footer-social-list-item:not(last-child) {
    margin-right: 10px;
  }
  
.footer-social-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color:  rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}    
.footer-social-list-icon {
    fill: #FFFFFF;
    width: 20px;
    height: 20px;
}

.footer-mail:hover,
.footer-mail:focus,
.footer-tel:hover,
.footer-tel:focus {
    color: #2196F3;}

.footer-social-list-link:hover,
.footer-social-list-link:focus {
    background-color: #2196F3;;
  }
.footer-social-list-link:hover .footer-social-list-icon,
.footer-social-list-link:focus .footer-social-list-icon {
    fill: white
  }

  .subscription {
    margin-left: 93px;
  }
  .subscription-form {
    display: flex;
  }

  .join-up {
    display: block;
    color: var(--white-color); 
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase; 
    
  }
  .footer-email {
    margin-right: 12px;
    padding: 15px 16px;
    width: 358px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: #2F303A;
    color: #FFFFFF;
}

.footer-email::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.email-btn{
  display: flex;
  align-items: center;
  border-radius: 4px;
  border: none;
  min-width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  padding-right: 28px;
  cursor: pointer;
  color: var(--white-color);
  background-color: var(--accent-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  text-decoration: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-send {
  margin-left: 10px;
  fill: currentColor;
}

.email-btn:hover,
.email-btn:focus {
  color: var(--accent-color);
  background-color: var(--white-color);
}


/*======PORTFOLIO======*/

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}
.portfolio-button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 34px;
  padding-bottom: 16px;
   
}
.portfolio-button-list-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-button {
  min-width: 73px;
  height: 38px;
  
  border-radius: 4px;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  display: flex;
  text-align: center;
  letter-spacing: 0.03em;
  border: none;
  
  background-color: #F5F4FA;
  color: var(--main-text-color);
  cursor: pointer;
  padding: 6px 22px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-button:hover,
.portfolio-button:focus {
  background-color: #2196F3;
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
  0px 2px 2px rgba(0, 0, 0, 0.12);
  outline: none;




}
.portfolio-list-item:nth-child(3n) {
  margin-right: 0;
}

.portfolio-list-item:nth-last-child(-n + 3n) {
  margin-bottom: 0;
}


.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.portfolio-list-item {
  width: 370px;
  height: 404px;
  
  margin-right: 30px;
  margin-bottom: 30px;
}

.portfolio-list-wrapper {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}
.portfolio-list-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-list-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}


.portfolio-list-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
  margin-bottom: 4px;
}

.portfolio-list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--link-color);
  font-family: var(--main-font);
}

.list__item-img-wrapper{
  position: relative;
  overflow: hidden;

}


.description {
  font-size: 18px;
  line-height: 1.6;
  color: #FFFFFF;
}
.overlay {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
font-size: 18px;
line-height: 1.6;
background-color: rgba(33, 150, 243, 0.9);
padding: 63px 24px;
transform: translateY(100%);

transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.portfolio-list-link:hover .overlay { 
  transform: translateY(0%);
}
.portfolio-list-link:focus .overlay { 
  transform: translateY(0%);
}
/*======END PORTFOLIO======*/

/*======BACKDROP======*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.2);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  min-height: 581px;
  background-color: #FFFFFF;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-top: 8px;
  margin-bottom: 2px;
  margin-right: 8px;
  width: 30px;
  height: 30px;
  background-color: #FFFFFF;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-btn:hover, .icon-close-black:hover{
  fill: #2196F3;
}


.close-btn:focus, .icon-close-black:focus {
  fill: #2196F3;
}



.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.2);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.btn-position {
  display: flex;
  justify-content: flex-end;
}

.form{
  margin-left: auto;
  margin-right: auto;
  padding-right: 39px;
  padding-left: 41px;
 
background: #FFFFFF;
border-radius: 4px;
}

.form-call-to-action {
  display: block;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--main-text-color);}

.form-field,
.comment-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.comment-field {
  margin-bottom: 20px;
}
.form-label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;;
}

.form-input {
  margin: 0;
  padding-left: 40px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-icon {
  position: absolute;
  top: 29px;
  left: 12px;
  width: 18px;
  height: 18px;
  fill: var(--main-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:hover + .form-icon,
.comment-field:focus-within > .form-icon {
  fill: var(--accent-color);
}

.form-input:hover,
.comment:hover,
.form-field:focus-within > .form-input,
.comment-field:focus-within > .comment {
  border: 1px solid var(--accent-color);
  outline: none;
}
.comment {
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-field {
  display: flex;
  align-items: center;
  padding-left: 13px;
  line-height: 1.71;
  color: var(--main-text-color);
}

.input-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox-icon {
  display: inline-block;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border: 2px solid var(--main-text-color);
  border-radius: 2px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-checkbox:checked + .checkbox-icon {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  background-image: url('../images/svg-icons/Vector.svg');
  background-size: contain;
  background-origin: border-box;
}
.checkbox-label{
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1,714;
  letter-spacing: 0.03em;
  color: #757575;  
}

.checkbox-link {
  color: var(--accent-color);
}
.form-btn {
  position: absolute;
  width: 200px;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 56px;
  padding-right: 55px;
  border-radius: 4px;
  border: none;
  margin-top: 30px;
  transform: translateX(124px);
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-btn:focus,
.form-btn:hover {
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}



/*======END BACKDROP======*/